:root {
  --blue-text: rgba(33, 150, 243, 1);
  --white-text: rgba(255, 255, 255, 1);
  --grey-text01: rgba(117, 117, 117, 1);
  --grafite: rgba(47, 48, 58, 1);
  --adress-text: rgba(255, 255, 255, 0.6);
  --nav-text: rgba(33, 33, 33, 1);
  --blok-text: rgba(245, 244, 250, 1);
  --border-text: rgba(236, 236, 236, 1);
  --text-a: rgba(175, 177, 184, 1);
}
