.section__about {
  padding-top: 94px;
}

.conteiner__about {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}

.about__section {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about__link {
  @extend %centeredFlex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.about__name {
  margin-right: 30px;

  flex-basis: calc(100% / 4 - 30px);
}

.name {
  margin-block-start: 0;
  padding-inline-start: 0;
  margin: 0px;
  display: flex;
}

.about__section {
  margin-bottom: 10px;
  margin-top: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $nav-text;
}

.about__p {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $grey-text01;
}
