.section__client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.client__ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.client__link {
  @extend %centeredFlex;
  width: 170px;
  height: 90px;
  background-color: #ffffff;
  margin-right: 30px;
  margin-top: 50px;
  border: 1px solid #afb1b8;
  fill: var(--text-a);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1);
    cursor: pointer;
  }
}

.client__team {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: $nav-text;
}
