.svg__icon {
  padding: 0;
  margin: 0;
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer {
  padding: 0;
  margin-top: 0;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: $grafite;
}

.conteiner__footer {
  display: flex;
  margin-right: 70px;
  justify-content: space-between;
}

.conteiner {
 
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__studio .footer__web {
  color: $blue-text;
}

.footer__web {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-text;
}

.footer__studio {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $white-text;
  text-decoration: none;
}

.address__ul {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-text;

  margin-top: 20px;
  margin-bottom: 0px;
}

.address__a,
.address__tel {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $adress-text;
  text-decoration: none;
  margin-top: 9px;
}

.logo__footer {
  padding: 0px;
  @extend %centeredFlex;
}

.footer__link {
  @extend %centeredFlex;
  background-color: var(--logo-footer);
  color: $white-text;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  margin-top: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue-text;
    cursor: pointer;
  }
}

.team__footer {
  display: block;
  padding-top: 12px;
}

.team__footer {
  width: 145px;
  height: 16px;
  margin-bottom: 20px;
  line-height: 5, 32;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__blok {
  align-items: baseline;
  padding-top: 12px;
}

.footer__client {
  margin-top: 20px;
}
