.conteiner__hero {
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and(min-width:768px) {
    min-width: 768px;
  }
  @media screen and(min-width:1200px) {
    min-width: 1200px;
  }
}
.section__hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: $white-text;
  margin: 0;
  margin-bottom: 30px;

  text-align: center;
}
.section__button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  border: none;

  &:hover,
  &:focus {
    background: $blue-text;
    color: $white-text;
  }
}
.section__hero .section__button {
  max-width: 200px;
  height: 50px;
  padding: 10 32px;

  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  background: $blue-text;
  color: $white-text;
  text-decoration: none;
}
.hero__name {
  text-align: center;
}
