.section__team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.team {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: $nav-text;
}

.team__item {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.team__logo {
  margin-right: 30px;
  background-color: #ffffff;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  margin-right: 30px;
}

.team__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 30px;
  padding: auto;

  color: $nav-text;
}

.team__p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 10px;
  margin-bottom: 30px;
  padding: auto;

  color: $grey-text01;
}

.team__ul {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  width: 206px;
}

.team__link {
  @extend %centeredFlex;
  background-color: $white-text;
  fill: var(--text-a);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue-text;
    fill: #ffffff;
    cursor: pointer;
  }
}
