.header {
  border-bottom: 1px solid #eeeeee;
  min-height: 80px;
}

.conteiner__header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__nav,
.header__navigation,
.conteiner__header {
  display: flex;
}

.header__nav {
  align-items: center;
}

.header__name {
  text-decoration: none;
  margin-right: 93px;
  display: flex;
}

.header__web {
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-text;
  text-decoration: none;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $nav-text;
  text-decoration: none;
}

.header__navigation {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.header__navigation .header__link:not(:first-child) {
  margin-left: 50px;
}

.header__contact {
  margin: 0;
  margin-left: auto;
  letter-spacing: 0.02em;

  display: flex;
}

.header__navigation.header__link {
  display: list-item;
  text-align: -webkit-match-parent;
}

.header__link.current::after {
  position: absolute;
  content: '';
  display: block;
  margin: 0;
  bottom: -3px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: $blue-text;
}

.header__contact .header__exile:not(:first-child) {
  margin-left: 50px;
}

.header__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  display: block;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $nav-text;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link.current {
  color: $blue-text;

  &:hover,
  &:focus {
    color: $blue-text;
    cursor: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__navigation.header__exile:not(:first-child) {
  margin-left: 50px;
}

.header__mail {
  margin-right: 10px;
  fill: currentColor;
}

.header__tel {
  margin-right: 10px;
  fill: currentColor;
}

.header__a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $grey-text01;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue-text;
  }
}

.header__exile {
  display: flex;
  align-items: center;
}
